<div class="row">
    <div class="input-field col s12">
      <input id="first_name2" class="validate" type="text" [(ngModel)]="sizze">
      <label class="active" for="first_name2">Количество пользователей на странице:</label>
      <a class="waves-effect waves-teal btn blue" (click)="onChange()">Изменить</a>
    </div>
    
  </div>