<!-- <div class="navbar-fixed"> -->
<nav>
        <div class="nav-wrapper blue lighten-1">
          <a href="" class="brand-logo">&nbsp;Random people cards API example on Angular 2</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/">Главная</a></li>
            <li><a routerLink="/setup">Настройки</a></li>
          </ul>
        </div>
</nav>
<!-- </div> -->

<div class="container">
  
  <router-outlet></router-outlet>

</div>

<footer class="page-footer blue lighten-1">
  <div class="container">
    <!-- <div class="row">
      <div class="col l0 s12">
        <h5 class="white-text">Angular 2 example</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      
    </div> -->
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Alex Mirtoff
    <a class="grey-text text-lighten-4 right" href="mailto:alex@mirtoff.ru"><i class="material-icons">email</i></a>
    </div>
  </div>
</footer>