.card-content {
    height: 100px;
}

.marked {
    font-weight: bold;
    color: red!important;
}

.hovered {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    transition: .5s all;
    z-index: 10;
}

.card-action {
    margin: 0 auto;
    text-align: center;

}
 
/* #btn-small {
    width: 50px;
    height: 25px;
} */