<div class="col s2">
    <div class="card" appHover>
      <div class="card-image">
        <img src="{{ user.image }}">
        <span class="card-title" [ngClass]="{'marked': isMarked}">{{user.name | uppercase }}</span>
      </div>
      <div class="card-content">
        <p>{{ user.geo }}</p>
      </div>
      <div class="card-action">
          <a (click)="onClick()" class="waves-effect waves-light btn blue"  id="btn-small">Отметить</a>
      </div>
</div>